*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(to left bottom, #61BFAD, #F9F7E8); */
    /* background: #F9F7E8;
    color: #167C80 */
    background: #F9F7E8;
    color: #000000
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(Portrait_Landscape3_NoBackground.png);
    background-size: cover;
    background-position: center;
} 

.container{
    padding: 10px 6%;
}

nav{
    padding: 3px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 999;
}

.logo{
    font-size: 22px;

}

.logo i{
    margin-right: 5px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f44149;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 35%;
    font-size: 30px;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
    /* line-height: 85px; */
}

.header-text h1 span{
    color: #5a76a7  
}
